body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-family: "Open Sans", sans-serif;
  color: #231f20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: #231f20;
}

p,
li {
  margin-top: 0;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  line-height: 1.2;
}

hr {
  border: 1.7px solid black;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

h1,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 300;
}
h1 {
  font-size: 8rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.8rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 2.6rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

.logotipo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dates {
  margin-top: 0.5%;
  margin-bottom: 6%;
  color: #e61d25;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

.menu {
  text-align: center;
  font-size: 2.8rem;
}

.menu a {
  margin-left: 1%;
  margin-right: 1%;
}

.mainTitle {
  margin-top: 4%;
  margin-bottom: 3.5%;
}

.mainType {
  margin-top: 0;
  font-size: 2.2rem;
  letter-spacing: -0rem;
  font-weight: 300;
  line-height: 1.2;
}

th:first-child,
td:first-child {
  padding-left: 1%;
}

thead {
  font-size: large;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
}

.grid > div {
  padding: 1rem;
  display: grid;
}

.grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.grid > div::before,
.grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

